html, body, footer, .container {
	height: inherit;
	min-height: 100%;
}

body {
	overflow:overlay; 
}

@media (min-height: 640px) {
	html, body, footer, .container {
		height: 100%;
		min-height: 100%;
	}
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

h1 {
	text-align: center;
	font-family: 'Cambria', cursive !important;
	font-weight: bold !important;
}

h2 {
	text-align: center;
	font-family: 'Carter One', cursive !important;
	margin-top: -10px !important;
	margin-bottom: 20px !important;
}

.header-image {
	max-width: 100%;
	margin: auto;
}

div {
	max-width: 800px;
	margin: 0 auto;
	vertical-align: middle;
}

button {
	border: none;
 	background-color: transparent;
}

button:focus {
	outline: 0;
}

.content {
	text-align: justify;
	margin: 40px auto;
	padding: 0 30px;
}

.profile-header {
	display: inline-flex;
	margin-top: inherit;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	right: 0;
}

.update {
	position: relative;
}

.chatbox-inside::-webkit-scrollbar { 
	width: 5px; /*largeur de la scrollbar verticale*/
	height: 5px; /*hauteur de la scrollbar horizontale*/
	background-color: #000000;
}

.chatbox-inside::-webkit-scrollbar-track { 
	background-color: #BDBDBD; /*couleur du fond de la scrollbar*/
}

.chatbox-inside::-webkit-scrollbar-thumb { /*la petite bande qui monte/descend*/
	background-color: rgb(77, 166, 255); /*couleur de l'ascenseur*/
	border-radius: 15px;
	/*-moz-border-radius: 15px;
	-webkit-border-radius: 15px;*/
}

.element {
	padding-bottom: 15px;
}

.company-logo {
	display: none;
}

@media (min-width: 320px) { /*Mobile S*/
	.head {
		margin: 40px 15px 10px 15px;
	}
	
	body {
		background-color: #000000;
	}
	
	.content {
		margin: 20px auto auto 0px;
		padding: 0 25px;
	}

	.menu {
		z-index: 5;
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		width: auto;
		border-radius: 50%;
		border: 1px solid black;
		margin-right: 10px;
		margin-top: 10px;
		padding-top: 10px;
		padding-left: 12px;
		padding-bottom: 10px;
		padding-right: 12px;
	}
	
	.nav-bar {
		z-index: 1;
		top: 75;
		display: grid;
		width: auto;
		position: fixed;
		right: 0;
		/*margin-top: 75;*/
	}

	.nav-bar-hidden {
		display: none;
	}
	
	h3 {
		display: none;
	}
	
	button {
		text-align: center;
		background-color: white;
		/*padding-bottom: 5;*/
	}

	.nav-bar button {
		padding: 10 15 10 15;
		border: 1px solid black;
	}
	
	button.about {
		/*width: 25%;*/
		border-radius: 10% 0 0 0;
	}
	
	button.education {
		/*width: 25%;*/
		border-top: 0;
	}
	
	button.skills {
		/*width: 25%;*/
		border-top: 0;
	}
	
	button.experience {
		/*width: 25%;*/
		border-top: 0;
		border-radius: 0 0 0 10%;
	}
	
	button.about#current-section {
		background-color: black;
		color: white;
	}
	
	button.education#current-section {
		background-color: black;
		color: white;
	}
	
	button.skills#current-section {
		background-color: black;
		color: white;
	}
	
	button.experience#current-section {
		background-color: black;
		color: white;
	}
	
	.profile-pic-img {
		display: none;
	}

	.chatbox {
		display: none;
	}
}

@media (min-width: 768px) {
	.head {
		margin: 10px 15px 10px 15px;
	}

	body {
		background: url("../media/background.png");
		background-position: center top, center top;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	
	.content {
		text-align: justify;
		margin: 40px auto auto 0px;;
		padding: 0 30px;
	}
	
	.container {
		width: 750px;
		height: auto;
		background-color: white;
	}

	.menu {
		display: none;
	}
	
	.nav-bar {
		height: 60px;
		display: inline-flex;
		margin: 0 auto;
		width: 100%;
		z-index: 0;
		position: initial;
	}

	.nav-bar button {
		padding: 0;
		border: 0;
	}
	
	h3 {
		display: inherit;
		font-family: 'Permanent Marker', cursive !important;
		color: black !important;
		text-align: center;
	}

	h3:hover {
		font-style: italic;
		cursor: pointer;
	}
	
	#current-section {
		background: url("../media/arrow-nav-bar.png") no-repeat;
		background-position: center bottom, center bottom;
	}
	
	button.about {
		width: 25%;
	}
	
	button.education {
		width: 25%;
	}
	
	button.skills {
		width: 25%;
	}
	
	button.experience {
		width: 25%;
	}

	button.about#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	button.education#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	button.skills#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	button.experience#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	.profile-pic-img {
		display: inherit;
	}
	
	.profile-pic-img {
		width: 180px;
		height: 180px;
		border: 2px solid black;
		padding: 5px;
		border-radius: 50%;
	}
	
	.profile-desc {
		margin-left: 30px;
	}
	
	.fas {
		display: none !important;
	}

	.fa {
		display: none !important;
	}
	
	.dates {
		float: right;
	}
	
	.company-logo {
		width: 60px;
		display: block;
		margin: auto;
	}

	.chatbox {
		display: block;
		background-color: white;
		position: fixed;
		float: right;
		right: 40 !important;
		bottom: 0!important;
		max-height: 100% !important;
		width: 400px !important;
		box-shadow: 1px 1px 12px #555;
	}

	.chatbox-titlebar {
		background-color: white;
		border-bottom: 2px solid black;
		padding: 10px;
		display: inline-flex;
		min-width: 100%;
		box-shadow: 0 6px 6px -5px #333;
	}

	.chatbox-title {
		margin: auto auto auto 10px !important;
		font-family: 'Chau Philomene One', sans-serif;
	    font-size: 18;
	    transform: scale(1.2, 1);
	}

	.chatbox-button {
		font-weight: 1000;
		border: black 2px solid;
		margin: auto 10px auto auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	.chatbox-inside {
		padding: 10px;
		max-height: 500px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	#chat-info {
		color: #8e8e8e;
		font-style: italic;
		text-align: center;
	}

	.chatbox-form {
		padding: 10px;
	}

	.user-input-form {
		display: inline-flex;
		width: 100%;
		max-width: 380px;
		bottom: 0;
		margin: 0 !important;
	}

	.user-input {
		width: 100%;
		border-top: 1px solid black;
	    border-bottom: 1px solid black;
	    border-left: 1px solid darkgray;
	    border-right: 1px solid darkgray;
	    margin-right: 5px;
	    padding-left: 5px;
	}

	.user-input::placeholder {
	  font-style: italic;
	}

	.chatbubble {
		min-height: 32px;
		min-width: 380px;
		overflow: hidden;
	}

	.user-bubble {
		margin-bottom: 3px;
		float: right;
		width: auto;
		max-width: 80%;
		font-weight: 900;

		background-color: rgb(77, 166, 255);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;

		padding: 6px 20px;
		color: white;
		text-shadow: 0 1px 1px rgba(0,0,0,0.8);
		word-wrap: break-word;
		clear:both
	}

	.msg-time {
		text-align: center;
		font-family: Georgia;
	    font-weight: 600;
	    font-size: 14;
	    padding-top: 10px;
	}

	.bot-bubble {
		display: inline-flex;
		margin-bottom: 3px;
		width: auto;
		max-width: 80%;

		border: 2px solid rgb(77, 166, 255);
		-webkit-border-radius: 50px 10px 10px 50px;
		-moz-border-radius: 50px 10px 10px 50px;
		border-radius: 50px 10px 10px 50px;

		word-wrap: break-word;
	}

	.bot-pic {
		width: 95px;
		height: 95px;
		border: 1px solid black;
		padding: 1px;
		border-radius: 50%;
		margin-top: auto;
		margin-bottom: auto;
	}

	.bot-text {
		font-weight: 900;
		padding: 0 20px 0 20px;
		margin: auto;
	}

	.send-chat {
		font-weight: 900;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding: 3px 10px;
		background-color: white;
		color: black;
		border-color: black;
	}

	.send-chat:hover {
		background-color: white;
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	    border-radius: 10px;
	    padding: 3px 10px;
	    border-color: rgb(77, 166, 255);
	    color: rgb(57, 146, 255);
	    font-weight: 700;
	}
}

.bottom {
	background-color: white;
	bottom: 0;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 15px;
}

.contact{
	color: black;
	font-size: 32px;
	display: inline-block;
}

.show-description p {
	opacity: 1;
}