html, body, footer, .container {
	height: inherit;
	min-height: 100%;
}

@media (min-height: 640px) {
	html, body, footer, .container {
		height: 100%;
		min-height: 100%;
	}
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

h1 {
	text-align: center;
	font-family: 'Cambria', cursive !important;
	font-weight: bold !important;
}

h2 {
	text-align: center;
	font-family: 'Carter One', cursive !important;
	margin-top: -10px !important;
	margin-bottom: 20px !important;
}

.header-image {
	max-width: 100%;
	margin: auto;
}

div {
	max-width: 800px;
	margin: 0 auto;
	vertical-align: middle;
}

button {
	border: none;
 	background-color: transparent;
}

.content {
	text-align: justify;
	margin: 40px auto;
	padding: 0 30px;
}

.profile-header {
	display: inline-flex;
	margin-top: inherit;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0;
	right: 0;
}

.update {
	position: relative;
}

.elevator::-webkit-scrollbar { 
	width: 5px; /*largeur de la scrollbar verticale*/
	height: 5px; /*hauteur de la scrollbar horizontale*/
	background-color: #000000;
}

.elevator::-webkit-scrollbar-track { 
	background-color: #BDBDBD; /*couleur du fond de la scrollbar*/
}

.elevator::-webkit-scrollbar-thumb { /*la petite bande qui monte/descend*/
	background-color: #2E64FE; /*couleur de l'ascenseur*/
	border-radius: 15px;
	/*-moz-border-radius: 15px;
	-webkit-border-radius: 15px;*/
}

.element {
	padding-bottom: 15px;
}

@media (min-width: 320px) { /*Mobile S*/
	.head {
		margin: 40px 15px 10px 15px;
	}
	
	body {
		background-color: #000000;
	}
	
	.content {
		margin: 20px auto auto 0px;
		padding: 0 25px;
	}
	
	.nav-bar {
		z-index: 1;
		display: inline-flex;
		width: 100%;
		position: fixed;
		top: 0;
	}
	
	h3 {
		display: none;
	}
	
	button {
		text-align: center;
		background-color: white;
	}
	
	button.about {
		width: 25%;
	}
	
	button.education {
		width: 25%;
	}
	
	button.skills {
		width: 25%;
	}
	
	button.experience {
		width: 25%;
	}
	
	button.about#current-section {
		background-color: black;
		border-radius: 0 0 10% 0;
		color: white;
	}
	
	button.education#current-section {
		background-color: black;
		border-radius: 0 0 10% 10%;
		color: white;
	}
	
	button.skills#current-section {
		background-color: black;
		border-radius: 0 0 10% 10%;
		color: white;
	}
	
	button.experience#current-section {
		background-color: black;
		border-radius: 0 0 0 10%;
		color: white;
	}
	
	.profile-pic-img {
		display: none;
	}
}

@media (min-width: 768px) {
	.head {
		margin: 10px 15px 10px 15px;
	}

	body {
		background: url("../media/background.png");
		background-position: center top, center top;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	
	.content {
		text-align: justify;
		margin: 40px auto auto 0px;;
		padding: 0 30px;
	}
	
	.container {
		width: 750px;
		background-color: white;
	}
	
	.nav-bar {
		height: 60px;
		display: inline-flex;
		margin: 0 auto;
		width: 100%;
		z-index: 0;
		position: initial;
	}
	
	h3 {
		display: inherit;
		font-family: 'Permanent Marker', cursive !important;
		color: black !important;
		text-align: center;
	}

	h3:hover {
		font-style: italic;
	/* 	color: white; */
	/* 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
		cursor: pointer;
	}
	
	#current-section {
		background: url("../media/arrow-nav-bar.png") no-repeat;
		background-position: center bottom, center bottom;
	}
	
	button.about#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	button.education#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	button.skills#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	button.experience#current-section {
		background-color: transparent;
		border-radius: 0;
	}
	
	.profile-pic-img {
		display: inherit;
	}
	
	.profile-pic-img {
		width: 180px;
		height: 180px;
	/* 	clip-path: circle(90px at center); */
		border: 2px solid black;
		padding: 5px;
		border-radius: 50%;
	}
	
	.profile-desc {
		margin-left: 30px;
	}
	
	.fa {
		display: none !important;
	}
	
	.dates {
		float: right;
	}
}

.bottom {
	background-color: white;
	bottom: 0;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 15px;
}

.show-description p {
	opacity: 1;
}