html, body, footer {
	height: 100%;
}

body {
	background: url("../media/background.png");
	background-position: center top, center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.head {
	margin-top: 10px;
}

h1 {
	text-align: center;
	font-family: 'Cambria', cursive !important;
	font-weight: bold !important;
}

h2 {
	text-align: center;
	font-family: 'Carter One', cursive !important;
	margin-top: -10px !important;
	margin-bottom: 20px !important;
}

.header-image {
	max-width: inherit;
	margin: auto;
	padding-right: 30px;
}

h3 {
	font-family: 'Permanent Marker', cursive !important;
	text-align: center;
}

h3:hover {
	font-style: italic;
	cursor: pointer
}

div {
	max-width: 800px;
	margin: 0 auto;
	vertical-align: middle;
}

.nav-bar {
	display: block;
}

div .col-md-6:hover {
	background-color: #F4FFF3 !important;
}

.content-image img {
	max-width: 200px;
	max-height: 100px;
	padding: 10px;
}

.content-image img:hover {
	cursor: pointer;
}

.content {
	text-align: justify;
	margin: 20px auto;
	overflow: auto;
}

.elevator::-webkit-scrollbar { 
	width: 5px; /*largeur de la scrollbar verticale*/
	height: 5px; /*hauteur de la scrollbar horizontale*/
	background-color: #000000;
}

.elevator::-webkit-scrollbar-track { 
	background-color: #BDBDBD; /*couleur du fond de la scrollbar*/
}

.elevator::-webkit-scrollbar-thumb { /*la petite bande qui monte/descend*/
	background-color: #2E64FE; /*couleur de l'ascenseur*/
	border-radius: 15px;
	/*-moz-border-radius: 15px;
	-webkit-border-radius: 15px;*/
}

.element {
	padding-bottom: 15px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	
	/*.header-image {
		width: 750px;
	}*/

	.first-section {
		border: 2px solid #D1DFFF;
		border-left: 7px solid #D1DFFF;
		border-top: 7px solid #D1DFFF;
		border-right: 7px solid #D1DFFF;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.second-section {
		border: 2px solid #D1DFFF;
		border-right: 7px solid #D1DFFF;
		border-left: 7px solid #D1DFFF;
	}

	.third-section {
		border: 2px solid #D1DFFF;
		border-left: 7px solid #D1DFFF;
		border-right: 7px solid #D1DFFF;
	}

	.fourth-section {
		border: 2px solid #D1DFFF;
		border-right: 7px solid #D1DFFF;
		border-bottom: 7px solid #D1DFFF;
		border-left: 7px solid #D1DFFF;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}
}

@media (min-width: 992px) {
	.col-md-6 {
		height: 200px;
	}
	
	/*.header-image {
		width: 970px;
	}*/

	.first-section {
		border: 2px solid #D1DFFF;
		border-left: 7px solid #D1DFFF;
		border-top: 7px solid #D1DFFF;
		border-top-left-radius: 15px;
		border-top-right-radius: 0px;
	}

	.second-section {
		border: 2px solid #D1DFFF;
		border-right: 7px solid #D1DFFF;
		border-top: 7px solid #D1DFFF;
		border-top-right-radius: 15px;
	}

	.third-section {
		border: 2px solid #D1DFFF;
		border-left: 7px solid #D1DFFF;
		border-bottom: 7px solid #D1DFFF;
		border-bottom-left-radius: 15px;
	}

	.fourth-section {
		border: 2px solid #D1DFFF;
		border-right: 7px solid #D1DFFF;
		border-bottom: 7px solid #D1DFFF;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 0px;
	}

	.col-md-12 {
		height: 400px;
		border: 7px solid #D1DFFF;
		border-radius: 15px;
	}

	.content {
		height: 80%;
	}
}

@media (min-width: 1200px) {
	/*.header-image {
		width: 1170px;
	}*/
}


.bottom {
	margin: 15px;
}

.show-description p {
	opacity: 1;
}