body {
	text-align: center;
	margin-top: 50px;
}

h1 {
	color: red;
}

table {
	width: 800px;
	padding-top: 20px;
	margin: 0px auto;
}

/*div {
	max-width: 800px;
	margin: 0 auto;
	display: table;
}

section {
	max-width: 400px;
	float: left;
	display: table-row;
}

a img {
	position: relative;
}*/

